@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <table class="table table-hover table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Company</th>
                <th>Title</th>
                <th>Email</th>
                <th>More Info</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.ContactModels)
            {
                <tr>
                    <td>@contact.FirstName</td>
                    <td>@contact.MiddleName</td>
                    <td>@contact.LastName</td>
                    <td>@contact.Company</td>
                    <td>@contact.Title</td>
                    <td>@contact.Email</td>
                    <td><a asp-page="Detail" asp-route-id="@contact.Id" class="btn btn-info mx-2">View More Info</a></td>
                    <td class="text-center">
                        <div style="text-align:center">
                            <a asp-page="Edit" asp-route-id="@contact.Id" class="btn btn-primary mx-2">Edit</a>
                            <a asp-page="Delete" asp-route-id="@contact.Id" class="btn btn-danger mx-2">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
